.blog-list-section__title {
  padding: 24px 0 12px;

  font-size: 16px;
  font-weight: 1000;
}

.blog-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 12px 0;

  font-family: 'Karla', sans-serif;
}

.blog-list-item__date {
  color: gray;
}
