.footer {
  display: flex;
  flex: 1 0 24px;
  align-items: flex-end;
  justify-content: center;

  padding: 12px 0;
  margin-bottom: 20px;

  font-size: 12px;
}

.footer a {
  text-decoration: none;
}
